body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
   
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
h1{
    font-size: 50px;
}

.orange-text{
    color:orange;
}
.grey-text{
    margin-top: 5px;
    color: gray;
    text-align: justify;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.image-part{
    width: 100%;
    margin-top: 30px;
}
.link-button{
    background-image: linear-gradient(45deg, salmon, rgb(243, 85, 57));
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.box{
    width: 800px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 2px 5px 20px  gray;
}
.box h1{
    font-size: 40px;
}
.fullstack-part{
    border-radius: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#baby-part{
    border-radius: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(to bottom,blue,rgb(78, 229, 240));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}